@import "tailwindcss";

:root[data-theme="dark"] {
  --bg-main: #000000;
  --bg-secondary: #0f172a;
  --text-main: #ffffff;
  --text-muted: #9ca3af;
  --border-color: #1f2933;
}

/* LIGHT */
:root[data-theme="light"] {
  --bg-main: #f9fafb;
  --bg-secondary: #ffffff;
  --text-main: #0f172a;
  --text-muted: #475569;
  --border-color: #e5e7eb;
}

body {
  background: var(--bg-main);
  color: var(--text-main);
  transition: background 0.3s ease, color 0.3s ease;
}



